@model List<Course>
@{
    ViewData["Title"] = "Index";
}
<style>



    /* display course duration in course list */
    /* #CrsDuration {
        color: white;
    }*/

    #DurationOpacity {
        background-color: black;
        opacity: 0.5;
        position: absolute;
        top: 70px;
        left: 117px;
        width: 70px;
        height: 19px;
    }

    .BoldeWeight {
        font-weight: bold;
        font-family: inherit;
    }

    p {
        font-size: 14px;
        line-height: 20px;
    }

    a {
        text-decoration: none;
    }
</style>




<div class="row mt-4 ">
    <div class="input-group col-7 mb-3">
        <input type="search" class="form-control" placeholder="Search courses" aria-label="Search courses" aria-describedby="basic-addon2">
        <span class="input-group-text bg-info" id="basic-addon2">
            <i class="fa-solid fa-magnifying-glass text-light"></i>
        </span>
    </div>
    <div class="col-5 row justify-content-end">
        <h6>Sorted By<i class="fa-solid fa-caret-down text-info m-1"></i></h6>
    </div>
</div>
<hr />
<div class="row">
    <h4 class="col-1 m-2"> Filters</h4>
    <select class="form-control col-2 m-1"><option value="" disabled selected hidden>Type</option></select>
    <select class="form-control col-2 m-1"><option value="" disabled selected hidden>Subject</option></select>
    <select class="form-control col-2 m-1"><option value="" disabled selected hidden>Level</option></select>
    <select class="form-control col-2 m-1"><option value="" disabled selected hidden>Duration</option></select>
    <select class="form-control col-2 m-1"><option value="" disabled selected hidden>Rating</option></select>
</div>

<div class="d-flex justify-content-end m-4">
    <a class="btn btn-info col-2" type="button" asp-controller="Course" asp-action="AddCourse1">Add New Course</a>
</div>

<!-- Courses List -->
<div>
    <div class="row">
        <div class="col-4 col-sm-2 " style="position:relative;">
            <img src="/images/img1.jpg" class="rounded" style="width:172px;height:100px;" />
            <div id="DurationOpacity">
                <span id="CrsDuration" class="text-light"> 6h 30m</span>
            </div>
        </div>

        <div class="col-10 col-sm-9 ">
            <h4> Information Technology Essentials</h4>
            <pre class="BoldeWeight">Beginner   |   Arabic language |   Released:March3,2020</pre>
            <p>Introduction to Information Technology and Information Systems, This course is a survey of the critical topics of Information Systems. The material covers essential areas that drive computing and information technology today, it contains sections that cover a survey of topics of information systems and computer science.</p>
            <span class="BoldeWeight">1.500 EGP</span>
        </div>

        <div>
            <a href="#" class="m-1">
                <img src="~/images/icons/icon-edit.png" />
            </a>

            <a href="#" class="m-1">
                <img src="~/images/icons/icon-delete.png" />
            </a>
        </div>
    </div>
    <hr /><div class="row">
        <div class="col-4 col-sm-2 " style="position:relative;">
            <img src="/images/img1.jpg" class="rounded" style="width:172px;height:100px;" />
            <div id="DurationOpacity">
                <span id="CrsDuration" class="text-light"> 6h 30m</span>
            </div>
        </div>

        <div class="col-10 col-sm-9 ">
            <h4> Information Technology Essentials</h4>
            <pre class="BoldeWeight">Beginner   |   Arabic language |   Released:March3,2020</pre>
            <p>Introduction to Information Technology and Information Systems, This course is a survey of the critical topics of Information Systems. The material covers essential areas that drive computing and information technology today, it contains sections that cover a survey of topics of information systems and computer science.</p>
            <span class="BoldeWeight">1.500 EGP</span>
        </div>

        <div>
            <a href="#" class="m-1">
                <img src="~/images/icons/icon-edit.png" />
            </a>

            <a href="#" class="m-1">
                <img src="~/images/icons/icon-delete.png" />
            </a>
        </div>
    </div>
    <hr />
</div>

<!------------------->
@*<div>
        @foreach (var item in Model)
        {
            <div class="row">
                <div class="col-2">
                    <img src="/images/img1.jpg" class="rounded" style="width:172px;height:100px;" />
                </div>

                <div class="col-9">
                    <h4 asp-for="@item.name"></h4>
                    <strong><pre>@item.crsLevel.levelName   |   @item.language.LangName language |   Released:@item.CrsReleasedDate</pre></strong>

                </div>
            </div>
        }
    </div>*@